# Editor-specific

# In case someone edit project in IDEA
/.idea

# In case someone edit project in VSCODE
/.vscode

# Ignore credential info in local env
/.env

/.nyc_output

/coverage

# Installed libs
/node_modules

# Generated
/.nyc_output
/coverage
/dist
/reports
npm-debug.log

# Misc
/tmp
/*.md
